<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Good news!</h1>
    <p>
      <%= @product.name %> is back in stock.
    </p>
    <p>
      <%= link_to "View product", product_url(@product) %>
    </p>
    <p>
      <%= link_to "Unsubscribe", unsubscribe_product_url(@product, email: @subscriber.email_address), data: { turbo_method: :delete } %>
    </p>
  </body>
</html>

