<%= turbo_stream.update dom_id(@product) do %>
  <h1><%= t("products.edit.title") %></h1>

  <%= render "form", product: @product %>

  <%= link_to "Cancel", @product, data: { turbo_frame: "_top" } %>
<% end %>

