<%= turbo_stream.update "new_product" do %>
  <h1><%= t("products.new.title") %></h1>

  <%= render "form", product: @product %>

  <%= link_to "Cancel", products_path, data: { turbo_frame: "_top" } %>
<% end %>

